---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout lang="en" title="Mercury: Docs">
  <div class="flex h-full flex-col items-center justify-center">
    <Title content="Mercury: Docs" />
  </div>
</Layout>
